*{

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    --color1: #1c1c1c;
    --color2: #e9ce55;
    --color3: #2c2c2c;
    font-family: Georgia, 'Times New Roman', Times, serif;
    

}


html, body{

    padding: 30px;
    background-color: var(--color1);
    color:  var(--color2);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

}

.form{

    padding: 30px;
    box-shadow: 0 0 10px var(--color2);
    width: 100%;
    border-radius: 30px;
    transition: all 3000.ms;


}

.form:hover{

    scale: 1.1;
    transition: all 3000.ms;


}


#form_agregar label, #form_agregar input{

   width: auto;

}  


#form_agregar , .inputs_container
{
    display: flex;
    flex-direction: column;

}

#tablaCuerpo td
{
    text-transform: capitalize; /*primer letra mayuscula*/
}




.btn{

    padding: 1vw;
    background-color: var(--color3);
    color: var(--color2);
    border: none;
    margin: 1.5vw;
    border-radius: 10px;
    cursor: pointer;
    transition: all 3000.ms;
}

.btn:hover{

    scale: 1.1;
    transition: all 3000.ms;

}

input{

    background-color: var(--color3);
    padding: 5px;
    border: none;
    color: var(--color2);


}

select{

    background-color: var(--color3);
    padding: 5px;
    border: none;
    color: var(--color2);
    cursor: pointer;

}





#compras_agregar,
#telefono_agregar,
#compras_agregar_label,
#telefono_agregar_label{
    display: none;
}





















.spinner-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 9999;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}